.random-card {
  max-width: 350px;
}

.card-catch-btn {
  /*border: 1px solid #c4c4c4;*/
  border-radius: 15px;
  box-shadow: 0 0 10px #e0e0e0;
  background-color: #ffe054;
}

.card-catch-btn:hover {
  background-color: #ffffff;
  border-radius: 15px;
}

.card-img-icon {
  width: 30px;
  height: 30px;
}